/* ===============================
   AUTH / HERO BACKGROUND
   =============================== */
.bg-authkit {
  position: relative;
  /* background:
    radial-gradient(
      circle at center,
      rgba(96,165,250,0.25),
      transparent 90%
    ),
    linear-gradient(
      90deg,
      #020617,
      #00040c
    ); */
    background-color: var(--bg);
}

.bg-authkit::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    radial-gradient(circle, rgba(255,255,255,0.8) 1px, transparent 1px);
  background-size: 80px 80px;
  opacity: 0.25;
  pointer-events: none;
}

.bg-authkit::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(148,163,184,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(148,163,184,0.05) 1px, transparent 1px);
  background-size: 120px 120px;
  pointer-events: none;
}
